header {
    padding: 1.6rem 9.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 3.2rem;
    color: white;
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    padding: .8rem 0;
    width: 8rem;
    border-radius: .8rem;
    cursor: pointer;
    background-color: rebeccapurple;
    border: none;
    color: white;
}